@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #2A2B35 transparent;
}

@layer base {
  body {
    @apply font-sans antialiased;
    line-height: 1.6;
    color: #d1d5db;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-foreground;
    line-height: 1.3;
  }

  code, pre, kbd {
    @apply font-mono;
  }
}
